@{

    ViewData["Title"] = "Home Page";
}


@*<div class="text-center">
        <h1 class="display-4">Bienvenido</h1>
        <h3 class="display-4"><a class="nav-link text-danger" asp-area="" asp-controller="Usuarios" asp-action="Create">Registrate como usuario</a></h3>
        <h3 class="display-4">Si ya eres Usuario ingresa <a asp-controller="Usuarios" asp-action="Login">aqui</a></h3>

    </div>*@
<div class="row align-items-center justify-content-center vh-100">
    <img src="~/imagenHome.jpg" width="850" height="450"/>
</div>